name: Kernel Config - A15 6.6

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:

jobs:
  build-kernels-a15:
    # 这一行必须这样写，指明复用当前仓库下的构建脚本
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      android_version: "android15"
      kernel_version: "6.6"
      # 110 是目前 Android 16 下适配 SUSFS 最稳的版本，补丁不会冲突
      sub_level: "110"
      os_patch_level: "2025-01"
      feature_set: "susfs"
      build_bypass: true
