name: Kernel Config - A15 6.6

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      feature_set:
        description: '功能选择'
        default: 'susfs'
        required: true
        type: string
      build_bypass:
        description: '跳过签名校验'
        default: true
        required: true
        type: boolean

jobs:
  build-kernels-a15:
    name: "6.6.${{ matrix.sub_level }}-${{ matrix.os_patch_level }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          # 切换到 102 版本，这个版本的 fs/open.c 结构与 SUSFS 补丁完美匹配
          - sub_level: "102"
            os_patch_level: "2024-12"
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      android_version: "android15"
      kernel_version: "6.6"
      sub_level: ${{ matrix.sub_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
      feature_set: "susfs"
      build_bypass: true
