name: Kernel Config - A15 6.6

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      feature_set:
        description: '功能选择 (默认集成 susfs)'
        default: 'susfs'
        required: true
        type: string
      build_bypass:
        description: '是否跳过校验 (建议 true)'
        default: true
        required: true
        type: boolean

jobs:
  build-kernels-a15:
    name: "6.6.${{ matrix.sub_level }}-${{ matrix.os_patch_level }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          # 精准适配 A16 当前最新的 6.6.123 分支
          - sub_level: "123"
            os_patch_level: "2026-02"
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      android_version: "android15" # A16 的 6.6 内核在此脚本体系中仍指向该路径
      kernel_version: "6.6"
      sub_level: ${{ matrix.sub_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
      feature_set: ${{ inputs.feature_set || 'susfs' }}
      build_bypass: ${{ inputs.build_bypass || true }}
