name: Kernel Config - A15 6.6

on:
  workflow_dispatch:
    inputs:
      feature_set:
        default: 'susfs'
        type: string
      build_bypass:
        default: true
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 空间清理
        uses: endersonmenezes/free-disk-space@v3

      # 这里直接调用最底层的构建逻辑，避开主脚本的拦截
      - name: 强制构建
        uses: ./.github/workflows/build.yml
        with:
          android_version: "android15"
          kernel_version: "6.6"
          sub_level: "110"              # 使用最稳的 110 版本
          os_patch_level: "2025-01"
          feature_set: "susfs"
          build_bypass: true
          pg_size: "4096"               # 确保是一加 13 的 4K 架构
